@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

html, body {
  overflow-x: hidden; /* git test */
}
body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #0f0f0f;
  position: relative;
}
section {
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 500px;
  overflow: hidden;
  background-color: #f1ede5;
  color: #040402;
}
nav {
  margin: 0;
    text-align: right;
}
#button1 {
    background-color: #b80127;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}
footer {
  background-color: #0f0f0f;
  color: #fff;
}
h1 {
  position: relative;
    font-size: 100px;
}
#button1:hover {
    color: #000000;
    background-color: #efecba;
    transform: scale(1.1);
}
#facefront {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
h1 {
margin-bottom: 10%;
padding-top: 5%;
text-align: center;
font-size: 700%;
}
header {
box-sizing: border-box;
justify-content: space-between;
display: flex;
background-color: #f1ede5;
font-size: 0.8rem;
animation: slideIn 2s ease;
}
#logotipo {
margin-top: 15px;
margin-left: 30px;
    width: 10%;
    height: 10%;
    align-items: center;
    justify-content: center;
}
a {
  height: 60px;
  line-height: 60px;
  padding-left: 20px;
  padding-right: 20px;
    align-items: center;
    justify-content: center;
    display:inline-block;
    color:#0f0f0f;
    font-family: Ubuntu, sans-serif;
    text-decoration: none;
    margin-right: 50px;
    transition: transform 0.3s, color 0.3s;
}
.nvg:hover {
    color: #b80127;
  }
#p1h1 {
  display: inline-block;
  margin-right: 66%;
  margin-left: 5%;
}
.nvg:hover::after {
    width: 40%; /* Expandir o sublinhado para a largura total do link */
}

footer {
position: fixed;  /* Fixa o footer */
bottom: 0;        /* Mantém o footer no fundo */
left: 0;
width: 100%;      /* O footer ocupará 100% da largura */
height: 50px;     /* Defina a altura do footer */
background-color: #0f0f0f;
color: white;
text-align: center;
line-height: 50px;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .fade-in-text {
    opacity: 0;            /* Inicialmente invisível */
    animation: fadeIn 3s ease-in-out forwards; /* Aplica a animação */
  }

  @keyframes slideIn {
    0% {
      transform: translateY(-100%);  /* Fora da tela */
    }
    100% {
      transform: translateY(0);  /* Na posição inicial */
    }
  }