@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap');
html, body {
}
body {
  background: linear-gradient(to left, #161a24, #000);
}
footer {
position: fixed;  /* Fixa o footer */
bottom: 0;        /* Mantém o footer no fundo */
left: 0;
width: 100%;      /* O footer ocupará 100% da largura */
height: 50px;     /* Defina a altura do footer */
background-color: #0f0f0f;
color: white;
text-align: center;
line-height: 50px;
}

.subtitle{
  font-size: 4rem;
  color: #ff3f40;
}
.section {
  display: flex;
  flex-direction: column;
    position: relative;
    background-position: right;
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(to left, rgb(0, 0, 0), #161a24);
    border-image-slice: 1;
  }