.button1 {
    background-color: #ffca3e;
    height: 60px;
    color: #000;
    line-height: 60px;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 50px;
    text-decoration: none;
}
.button1:hover {
  color: #fff;
  background-color: #ff3f40;
  margin-right: 40;
}