.main {
  background-image: url("../../assets/001.png");
    position: relative;
    height: 91vh;
    overflow: hidden;
    color: #ffffff;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
  }
  /*#060709;*/
.title {
    font-family: "nunito";
    font-style: italic;
    text-align: left;
    margin-left: 100px;
    font-size: 7rem;
    margin-top: 5%;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
    }
    .tools {
      margin-top: 2%;
      display: block;
      margin-left: 100px;
      height: 5dvw;
      width: auto;
    }
    .topic {
      margin-top: 1%;
      margin-left: 100px;
      display: inline-block;
      max-width: 40%;
      text-align: left;
    }
  .subtitle {
    font-family: "nunito";
    color: #175d8e;
    text-align:left;
    font-size: 4dvw;
    }
    .text {
      font-family: 'iM fell english', sans-serif;
      font-size: 1.8dvw;
      }