.main {
    position: relative;
    align-items: center;
    justify-content: center;
    height: 43.2dvw;
    overflow: hidden;
    background-color: #060709;
    color: #dce7f5;
  }
  /*#060709;*/
.title {
    font-family: "nunito";
    font-style: italic;
    text-align: center;
    font-size: 8.1dvw;
    margin-top: 1%;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
    }
    .topic {
      margin-top: 5%;
      margin-left: 50px;
      display: inline-block;
      max-width: 40%;
      text-align: left;
    }
  .subtitle {
    font-family: "nunito";
    color: #b80127;
    text-align:left;
    font-size: 4dvw;
    }
    .text {
      font-family: 'iM fell english', sans-serif;
      font-size: 1.8dvw;
      }