.section.-first {
    padding: 20px 0 10px 0;
    align-items: center;
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(to left, #161a24, rgb(0, 0, 0), #161a24);
    border-image-slice: 1;
    background-color: black;
}
.title.-skill {
    color: #fff;
    font-size: 6rem;
    margin-bottom: 20px;
}
.skill-align {
    justify-content:space-evenly;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}
.skills-status{
    display: flex;
    margin: 50px 0 0 0px;
    flex-wrap: wrap;
}
.text.-bar{
    color: rgb(255, 255, 255);
    font-size: 2rem;
}
.icon {
    height: 150px;
    margin-left: 0px;
}
.skills-status .right {
    justify-content: space-around;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}
.container {
    opacity: 70%;
    align-items: center;
    border-radius: 30px;
    width: 85dvw;
margin-bottom: 50px;
padding-bottom: 45px;
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(to left, rgba(22, 26, 36, 0.5), rgba(33, 39, 53, 0.5));
    box-shadow: 0 0 5px 5px  rgba(62, 124, 183, 0.5);
}
.container:hover {
    opacity: 100%;
}